# Dependencies

 /node_modules

 # Logs

 /logs
 *.log
 npm-debug.log*

 # Other

 .env
 .env.local
 .env.development.local
 .env.test.local
 .env.production.local
 .DS_Store
 .vscode
 /.pnp
 .pnp.js
 /coverage
 .npm
 npm-debug.log*
 .idea
